<span class="action">Commented on <a href="{{payload.comment.html_url}}">commit {{commitIdShort payload.comment.commit_id}}</a> at <a href="{{repoUrl repo.name}}">{{repo.name}}</a></span>
<span class="comment">{{payload.comment.body}}</span>