{{#ifeq payload.ref_type "branch"}}
<span class="action">Deleted branch {{payload.ref}} at <a href="{{repoUrl repo.name}}">{{repo.name}}</a></span>
{{/ifeq}}

{{#ifeq payload.ref_type "tag"}}
<span class="action">Deleted tag {{payload.ref}} at <a href="{{repoUrl repo.name}}">{{repo.name}}</a></span>
{{/ifeq}}